
    
    
<div class="container">
	<div class="row">
		<br>
		<br>
		<div class="jumbotron">
			
		  {{#if username}}
		  Hello, {{username}}!
		  {{/if}}
	
		  <p class="jstyle" style="text-align:center;"> Now that you are a member, what would you like to do?</p>
		  <hr>
		  <div class="btn-group center-block" style="max-width:400px"> 
		      <div data-toggle="modal" data-target="#searchgame" class="btn btn-primary btn-lg">Search Games</div> 
		      <div data-toggle="modal" data-target="#hostgame" style="margin-left:30px;" class="btn btn-info btn-lg">Host Game</div>
		  </div>
		  <br>
		<br> 
    </div> 

    <!-- Search Modal -->
    <div id="searchgame" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:#666666;" class="modal-title">Search for a game:</h4>
                </div>
                <form action="/allgames" method="POST">
	                <div class="modal-body">
	                    <div class="form-group">
	                        <label style="color:#666666;" for="zip" class="control-label"> Enter Zip Code: </label>
	                        <input type="text" class="form-control" id="zip">
	                        <label style="color:#666666;" for="datesearch" class="control-label"> Choose a Date: </label>
	                        <input type="text" class="form-control" id="datesearch">

	                        <script>
						      $( function(){
						        $( "#datesearch" ).datepicker();
						      });
						    </script>
						    
	                    </div>
	                </div>

	                <div class="modal-footer">
	                    <input style="float:left;" data-dismiss="modal" type="submit" id="findgames" class="btn btn-primary btn-lg" value="Find Game">
	                    <script>
	                    	
					    	$("#findgames").on("click", function(){
							    $("#mytable").css("visibility", "visible");
							});
					    </script>
	                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Host Modal -->
    <div id="hostgame" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:#666666;" class="modal-title">Host a game:</h4>
                </div>
                <div class="modal-body">
                    
                        <div class="container">
						    <div style="margin:0;" class="row">
						        <div class='col-sm-6'>
							        <form action="/newgame" method="POST">
						            	<div class="form-group">
							                <label style="color:#666666;" for="datehost" class="control-label"> Choose Date: </label>
				                            <input type="text" class="form-control" id="datehost" name="date">
			                            </div>
			                            <div class="form-group">
				                            <label style="color:#666666;" for="timehost" class="control-label"> Choose Time: </label>
				                            <input type="time" class="form-control" id="timehost" name="time">
				                        </div>
			                            <div class="form-group">
				                            <label style="color:#666666;" for="address" class="control-label">(Game) Address: </label>
				                            <input type="text" class="form-control" id="address" name="address">
				                        </div>
				                        <div class="form-group">
				                            <label style="color:#666666;" for="apt" class="control-label"> Apt: </label>
				                            <input type="text" class="form-control" id="apt" name="apt">
				                        </div>
				                        <div class="form-group">
				                            <label style="color:#666666;" for="city" class="control-label"> City: </label>
				                            <input type="text" class="form-control" id="city" name="city">
				                        </div>
				                        <div class="form-group">
				                            <label style="color:#666666;" for="state" class="control-label"> State: </label>
				                            <select class="form-control" id="state" name="state">
				                                <option value="AL" selected="selected">Choose One</option>
				                                <option value="AL">Alabama</option>
				                                <option value="AK">Alaska</option>
				                                <option value="AZ">Arizona</option>
				                                <option value="AR">Arkansas</option>
				                                <option value="CA">California</option>
				                                <option value="CO">Colorado</option>
				                                <option value="CT">Connecticut</option>
				                                <option value="DE">Delaware</option>
				                                <option value="DC">District Of Columbia</option>
				                                <option value="FL">Florida</option>
				                                <option value="GA">Georgia</option>
				                                <option value="HI">Hawaii</option>
				                                <option value="ID">Idaho</option>
				                                <option value="IL">Illinois</option>
				                                <option value="IN">Indiana</option>
				                                <option value="IA">Iowa</option>
				                                <option value="KS">Kansas</option>
				                                <option value="KY">Kentucky</option>
				                                <option value="LA">Louisiana</option>
				                                <option value="ME">Maine</option>
				                                <option value="MD">Maryland</option>
				                                <option value="MA">Massachusetts</option>
				                                <option value="MI">Michigan</option>
				                                <option value="MN">Minnesota</option>
				                                <option value="MS">Mississippi</option>
				                                <option value="MO">Missouri</option>
				                                <option value="MT">Montana</option>
				                                <option value="NE">Nebraska</option>
				                                <option value="NV">Nevada</option>
				                                <option value="NH">New Hampshire</option>
				                                <option value="NJ">New Jersey</option>
				                                <option value="NM">New Mexico</option>
				                                <option value="NY">New York</option>
				                                <option value="NC">North Carolina</option>
				                                <option value="ND">North Dakota</option>
				                                <option value="OH">Ohio</option>
				                                <option value="OK">Oklahoma</option>
				                                <option value="OR">Oregon</option>
				                                <option value="PA">Pennsylvania</option>
				                                <option value="RI">Rhode Island</option>
				                                <option value="SC">South Carolina</option>
				                                <option value="SD">South Dakota</option>
				                                <option value="TN">Tennessee</option>
				                                <option value="TX">Texas</option>
				                                <option value="UT">Utah</option>
				                                <option value="VT">Vermont</option>
				                                <option value="VA">Virginia</option>
				                                <option value="WA">Washington</option>
				                                <option value="WV">West Virginia</option>
				                                <option value="WI">Wisconsin</option>
				                                <option value="WY">Wyoming</option>
				                            </select>
				                        </div>
				                        <div class="form-group">
				                            <label style="color:#666666;" for="zipcode" class="control-label">Zip Code: </label>
				                            <input type="text" class="form-control" id="zipcode" name="zipcode">
				                        </div>
			                            <script>
									      $( function(){
									        $( "#datehost" ).datepicker();
									      });
									    </script>
									<input type="submit" class="btn btn-primary btn-lg">
							        </form>
						        </div>
						    </div>
						</div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
		<div class="col-lg-6 text-center">
		    <div class="row">
		        <table class="table" id="mytable">
		          <thead>
		            <tr>
		              <th>ID</th>
		              <th>ADDRESS</th>
		              <th>APARTMENT</th>
		              <th>CITY</th>
		              <th>STATE</th>
		              <th>ZIP</th>
		              <th>DATE</th>
		              <th>TIME</th>
		            </tr>
		          </thead>
		          <tbody>
		          	{{#each games}}
		            <tr>
		              <th scope="row">{{UserId}}</th>
		              <td>{{address}}</td>
		              <td>{{apt}}</td>
		              <td>{{city}}</td>
		              <td>{{state}}</td>
		              <td>{{zipcode}}</td>
		              <td>{{date}}</td>
		              <td>{{time}}</td>
		            </tr>
		            {{/each}}
		          </tbody>
		        </table>
		    </div>
	    </div>
		<div class="col-xs-6 text-center" class="task">
			<div class="map">
				  
			</div>
		</div>
	</div>
</div>
